body {
    font-family: "Open Sans", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}

nav>ul {
    display: flex;
    align-items: center;

}

.nav_title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

.orange {
    color: #FD6E0A;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom,left top;

}

.banner {

    margin: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .pic {
    width: 500px;
}

.banner-1 {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-2 {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-3 {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-content {
    max-width: 500px;
}

/* about  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    max-width: 827px;
    margin: 130px 0;


}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;

}

.about2 {
    display: flex;
    justify-content: space-between;
}

.about2 {
    align-items: center;
}

.about-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.aboutinfo {
    text-align: center;
}

.infotitle {
    color: #757575;
    text-align: center;

    font-size: 20px;

    font-weight: 400;

}

.infodescription {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

#ido {
    color: #757575;
    text-align: center;
    font-size: 18px;
    max-width: 909px;
    padding: 30px 150px;

}

.skill-container {
    display: flex;
    gap: 24px;

}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skilldescription {
    color: #757575;
}

main section {
    padding-top: 130px;

}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-container hr {
    margin: 30px;
}

.column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.item-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

footer {
    display: flex;
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
    gap: 100px;
}

.foot-column {
    width: 50%;
}
.social-link a {
    margin-right: 30px;
}

.contact input[type="email"], .contact input[type="text"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: white;
    border: 0;
    width: 100%;
}